<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="badges">
                    <p style="text-align:left; margin-bottom:35px"><strong>Pronto disponible en</strong></p>
                    <a target="_blank" class="badge-link" href="https://play.google.com/store/apps/developer?id=TuKarta"><img src="~/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="~/img/app-store-badge.svg" alt=""></a><br>
                    <p style="text-align:left; margin-bottom:35px; margin-top:35px;"><strong>Usa nuestra web</strong></p>
                    <a target="_blank" class="badge-link btna" style="margin-right:5px" href="https://tukarta.com/clientes/index.html">Pide tu Delivery</a>
                    <a target="_blank" class="badge-link btnb" href="https://tukarta.com/negocios/index.html">Negocios</a>
                </div>
            </div>
            <div class="col-sm-6 padding-top">
                <h2 class="section-heading">¡Disfruta tus platos favoritos desde casa!</h2>
            </div>
        </div>
    </div>
    <div class="footer-notation">
        <h3>¿Tienes un restaurante? Déjanos tus datos <button id="open_cta_modal" class="btn btn-link">AQUÍ</button></h3>
    </div>
</section>
<!-- Modal -->
<div id="cta_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">CONTACTO</h4>
            </div>
            <form id="contact_form" name="form" action="#" method="post" enctype="text/plain">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="business">Restaurante:</label>
                        <input type="text" class="form-control" id="name" name="business" placeholder="Restaurante" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Representante:</label>
                        <input type="text" class="form-control" id="business" name="name" placeholder="Representante" required>
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Teléfono:</label>
                        <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Teléfono" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Correo Electrónico" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary brand ladda-button" data-style="expand-right"><span class="ladda-label">Enviar</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--ACERCA DE INICIA -->
<section id="about" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>IMPORTANTE</h2>
                    <p class="text-muted" align="justify">Realiza/Selecciona tus pedidos/platos a través de la web, los cuales serán recibidos inmediatamente por el restaurante que se encargará de cumplir con todo el protocolo de higiene y salubridad determinado por el MINCETUR para la elaboración de los alimentos hasta llevarlos a tu domicilio.</p>
                    <hr>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="container-fluid">
                <div class="row">

                    <div align="justify" style="color:#666; width:100%">

                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!--ACERCA DE TERMINA -->
<!--REGISTRO INICIA
    <section id="features" class="features">
        <div class="container">

            <div class="row">
                <div class="col-md-4">

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                          <div id="alertp" style="display:none;border:1px solid #92a4b0;border-radius:3px;color:#536d7a;padding:1%;position:absolute; background-color:#cfd8dd;margin-left:20%;height:25%;">&nbsp;</div><div id="alertn" style="display:none;border:1px solid #92a4b0;border-radius:3px;color:#536d7a;padding:1%;position:absolute; background-color:#cfd8dd;margin-left:20%;height:25%;" align="center">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--REGISTRO TERMINA-->
<!--CONTACTO INICIA -->
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2 class="dynamic-header"><b>#QuédateEnCasa</b><br />Nosotros vamos por ti.</h2>
            <a href="#contact" class="btn btn-outline btn-xl page-scroll">Empecemos!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>Nosotros <i class="fa fa-heart"></i> nuevos amigos!</h2>
        <ul class="list-inline list-social">
            <li class="social-facebook">
                <a target="_blank" href="https://business.facebook.com/TuKartaPeru"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-instagram">
                <a target="_blank" href="https://www.instagram.com/tukarta.pe/"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="social-whatsapp">
                <a target="_blank" href="https://wa.me/51942775916"><i class="fa fa-whatsapp"></i></a>
            </li>
            <li class="social-twitter">
                <a target="_blank" href="https://twitter.com/TuKartaP/"><i class="fa fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</section><!--CONTACTO TERMINA -->