
<div class="card rounded overflow-hidden" style="height:200px;" @onclick="OnClickCard">
    <div class="background-image">
        <img src="@Restaurant.LogoUrl" />
    </div>
    <div class="bg-black-opacity above-background-image h6 px-2">
        <div class="my-3 mx-1 d-flex justify-content-between align-items-baseline">
            <div class="ml-0 mr-2">@Restaurant.Name</div>
            <div>@*@Restaurant.Distance*@ 10km</div>
            <div>@Restaurant.CommisionPrice.ToMoney()</div>
            <div><i class="c-icon cil-clock" /></div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RestaurantResource Restaurant { get; set; }

    [Parameter]
    public EventCallback<RestaurantResource> OnClickCallback { get; set; }

    private async Task OnClickCard()
    {
        await OnClickCallback.InvokeAsync(Restaurant);
    }
}
