@inherits LayoutComponentBase

@inject ISessionStorageService sessionStorage

@using Blazored.Toast.Configuration

<div class="c-app">
    <NavMenu />

    <div class="c-wrapper c-fixed-components">
        <TopBarMenu />
        <div class="c-body">
            <main class="c-main">
                @Body
            </main>
            <footer class="c-footer">
                <div><a href="https://tukarta.com">TuKarta</a> &copy; @DateTime.UtcNow.Year</div>
                <div class="ml-auto">Powered by&nbsp;<a href="https://tukarta.com/">TuKarta</a></div>
            </footer>
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                ErrorIcon="cil-thumb-down"
                InfoIcon="cil-info"
                SuccessIcon="cil-thumb-up"
                WarningIcon="cil-warning" />
