@page "/restaurante/valoraciones"
@inject ViewModels.HomeViewModels.IndexViewModel ViewModel

<Document Title="Valoraciones" />

<div class="container-fluid">
    <div class="fade-in">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h3>Valoraciones</h3>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>

@code {
}